<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Heidenhain"
            id="ch.tfischer.hh.commands.category">
      </category>
      <command
            name="Download"
            categoryId="ch.tfischer.hh.commands.category"
            id="ch.tfischer.hh.commands.download">
      </command>
      <command
            categoryId="ch.tfischer.hh.commands.category"
            id="ch.tfischer.hh.commands.downloadAs"
            name="Download As">
      </command>
      <command
            id="ch.tfischer.hh.command.showPreferencePage"
            name="Einstellungen">
      </command>
      <command
            categoryId="ch.tfischer.hh.commands.category"
            id="ch.tfischer.hh.commands.popup.download"
            name="Download">
      </command>
      <command
            categoryId="ch.tfischer.hh.commands.category"
            id="ch.tfischer.hh.commands.popup.explorer"
            name="Explorer">
      </command>
      <command
            categoryId="ch.tfischer.hh.commands.category"
            id="ch.tfischer.hh.commands.logfile"
            name="Logfile">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.tfischer.hh.handlers.LogfileHandler"
            commandId="ch.tfischer.hh.commands.logfile">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="ch.tfischer.hh.download">
            </test>
         </enabledWhen>
      </handler>
      <handler
            commandId="ch.tfischer.hh.commands.download"
            class="ch.tfischer.hh.handlers.DownloadHandler">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="ch.tfischer.hh.download">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="ch.tfischer.hh.handlers.DownloadAsHandler"
            commandId="ch.tfischer.hh.commands.downloadAs">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="ch.tfischer.hh.download">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="ch.tfischer.hh.handlers.PopupDownloadHandler"
            commandId="ch.tfischer.hh.commands.popup.download">
         <enabledWhen>
            <and>
               <test
                     forcePluginActivation="true"
                     property="ch.tfischer.hh.popupDownload">
               </test>
               <test
                     forcePluginActivation="true"
                     property="ch.tfischer.hh.download">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ch.tfischer.hh.preferences.PrefShow"
            commandId="ch.tfischer.hh.command.showPreferencePage">
      </handler>
      <handler
            class="ch.tfischer.hh.handlers.PopupExplorerHandler"
            commandId="ch.tfischer.hh.commands.popup.explorer">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="ch.tfischer.hh.popupExplorer">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.tfischer.hh.commands.download"
            contextId="org.eclipse.ui.contexts.window"
            sequence="F8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ch.tfischer.hh.menus.menu"
               label="Heidenhain">
            <command
                  commandId="ch.tfischer.hh.commands.logfile"
                  icon="icons/log.png"
                  id="ch.tfischer.hh.menus.logfileCommand"
                  label="Logfile laden">
            </command>
            <separator
                  name="ch.tfischer.hh.menus.separator"
                  visible="true">
            </separator>
            <command
                  commandId="ch.tfischer.hh.commands.download"
                  icon="icons/Download.png"
                  id="ch.tfischer.hh.menus.downloadCommand"
                  label="Download">
            </command>
            <command
                  commandId="ch.tfischer.hh.commands.downloadAs"
                  id="ch.tfischer.hh.menus.downloadAsCommand"
                  label="Download As">
            </command>
            <separator
                  name="ch.tfischer.hh.menus.separator"
                  visible="true">
            </separator>
            <command
                  commandId="ch.tfischer.hh.command.showPreferencePage"
                  icon="icons/settings.png"
                  id="ch.tfischer.hh.ShowPreferencePageCommand"
                  label="Einstellungen">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?bevor=group.help">
         <toolbar
               id="ch.tfischer.hh.toolbars.fehlmann"
               label="Heidenhain">
            <command
                  commandId="ch.tfischer.hh.commands.logfile"
                  icon="icons/log.png"
                  id="ch.tfischer.hh.toolbars.command.logfile"
                  label="Logfile"
                  tooltip="logfile">
            </command>
            <command
                  commandId="ch.tfischer.hh.commands.download"
                  icon="icons/Download.png"
                  id="ch.tfischer.hh.toolbars.command.download"
                  label="Download">
            </command>
            <control
                  class="ch.tfischer.hh.toolbar.ToolbarControlContribution">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="ch.tfischer.hh.commands.popup.download"
               icon="icons/Download.png">
         </command>
         <dynamic
               class="ch.tfischer.hh.dynamic.PopupDownlod"
               id="ch.tfischer.hh.popup-dynamic">
         </dynamic>
         <command
               commandId="ch.tfischer.hh.commands.popup.explorer"
               icon="icons/explorer.ico">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="ch.tfischer.hh.popupExplorer">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.tfischer.hh.view.logfile">
         <command
               commandId="ch.tfischer.hh.commands.logfile"
               icon="icons/refresh.png"
               id="ch.tfischer.hh.toolbars.command.logfile"
               label="Logfile"
               style="push"
               tooltip="Logfile neu laden">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.tfischer.hh.preferences.PrefPage"
            id="ch.tfischer.hh.preferencePage"
            name="Heidenhain">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.tfischer.hh.StartUP">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.tfischer.hh.toolbar.ToolbarPropertyTester"
            id="ch.tfischer.hh.toolbarPropertyTester"
            namespace="ch.tfischer.hh"
            properties="download, popupDownload,popupExplorer"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         name="Heidenhain"
         point="org.eclipse.ui.views">
      <view
            class="ch.tfischer.hh.view.LogfileView"
            icon="icons/log.png"
            id="ch.tfischer.hh.view.logfile"
            name="Logfile"
            restorable="true">
      </view>
   </extension>
</plugin>
